<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="expenseId" [value]="service.formData.expenseId">
  <div class="type-container">
    <input type="radio" name="transactionType" value="outcome" [(ngModel)]="service.formData.transactionType" id="outcome-input"><label for="outcome-input">Outcome</label>
    <input type="radio" name="transactionType" value="income" [(ngModel)]="service.formData.transactionType" id="income-input"><label for="income-input">Income</label>
  </div>
  <div class="input-container">
    <input required name="description" #Description="ngModel" [(ngModel)]="service.formData.description" class="form-control" placeholder="Description">
  </div>
  <div class="input-container">
    <input required name="Date" #Date="ngModel" [(ngModel)]="service.formData.date"
      class="form-control" placeholder="Date - DD.MM.YYYY" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
  </div>
  <div class="input-container">
    <input required name="Type" #Type="ngModel" [(ngModel)]="service.formData.type" class="form-control" placeholder="Category">
  </div>
  <div class="input-container">
    <input required type="number" name="Amount" #Amount="ngModel" [(ngModel)]="service.formData.amount" class="form-control" placeholder="Amount">
  </div>
  <div class="btn-container">
    <button class="add-new-btn" type="submit" [disabled]="form.invalid">Add</button>
  </div>
</form>
